// .table-section {

//     max-width: max-content;   
// }
.mat-column-actions {
  width: 120px;
  text-align: center;
}

.mat-column-code {
  width: 100px;
}

.mat-column-quantity {
  width: 120px;
  text-align: center;
}

.mat-column-price {
  width: 150px;
  text-align: right;
}

.mat-column-total {
  width: 150px;
  text-align: right;
}