.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;

}

.order-card {
  margin-bottom: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.spacer {
  flex: 1;
}

