<div class="header-container">
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Search Product</mat-label>
      <input matInput [ngModel]="filter" (ngModelChange)="onFilterChange($event)" />
      @if (filter) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <!-- <div class="header-right"> -->
      @if(!isMobile) {
        <button mat-raised-button color="primary" (click)="add.emit()">Add Product</button>
      } @else {
        <button mat-mini-fab (click)="add.emit()" class="add-button"><mat-icon>add</mat-icon></button>
      }
    <!-- </div> -->

  </div>
  