<mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>
        {{ isEdit() ? 'Редагування категорії' : 'Створення категорії' }}
      </mat-card-title>
    </mat-card-header>
  
    <form [formGroup]="form" class="form-content" (ngSubmit)="onSubmit()">
    <mat-card-content>
        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Код</mat-label>
          <input matInput formControlName="code" />
          @if (form.get('code')?.hasError('required')) {
            <mat-error>Обов'язкове поле</mat-error>
          }
        
          @if (form.get('code')?.hasError('minlength')) {
            <mat-error>Мінімум 5 символів</mat-error>
          }
          @if (form.get('code')?.hasError('invalidSlug')) {
              <mat-error>Має бути: латиниця, цифри, тире, без пробілів</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Назва</mat-label>
          <input matInput formControlName="title" />
          @if (form.get('title')?.hasError('required')) {
              <mat-error>Обов'язкове поле</mat-error>
          }
          
          @if (form.get('title')?.hasError('minlength')) {
          <mat-error>Мінімум 3 символів</mat-error>
          }
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Іконка</mat-label>
    
            @if (form.value.icon && maticons.includes(form.value.icon)) {
              <mat-icon matPrefix>{{ form.value.icon }}</mat-icon>
            }
            
            <input matInput formControlName="icon" />
            <button matSuffix mat-icon-button type="button" (click)="openIconPicker()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Батьківська категорія</mat-label>
            <mat-select formControlName="parent">
              <mat-option [value]="null">-</mat-option>
              
              @for (cat of allCategories(); track cat.id) {
                <mat-option [value]="cat.id">
                  {{ cat.full_title }}
                </mat-option>
              }
              
            </mat-select>
          </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Опис</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
          
          @if (error()?.message) {
            <mat-error>
                @if (error()?.message) {
                    <div>Помилка зберігання!</div>
                }             
                @if (error()?.fieldErrors) {
                    @for (entry of error()?.fieldErrors || {} | keyvalue; track entry.key) {
                        <div>{{ entry.value }}</div>
                      }
                  }
            </mat-error>
          }
          
        </mat-card-content>
        <mat-card-actions align="end" class="form-actions">
          <button mat-stroked-button color="primary" type="button" (click)="onBack()">
            Back
          </button>
          <span class="spacer"></span>
          <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
            Save
          </button>
        </mat-card-actions>
    </form>
  
      
  </mat-card>
  