.orders-table {
  width: 100%;
}

.mat-column-actions {
  width: 220px;
  text-align: center;
}

.mat-column-id {
  width: 80px;
}

.text-primary {
  color: #1976d2;
}

.text-success {
  color: #4caf50;
}

.text-danger {
  color: #f44336;
}

.text-secondary {
  color: #757575;
}
