<div >
  @if (loading()) {
    <div class="loading-container">
      <mat-spinner diameter="48"></mat-spinner>
    </div>
  } @else if (selectedOrder()) {
 
        <app-order-detail-card
          [order]="selectedOrder()"
          [isMobile]="isMobile()"
          (back)="onBack()"
          (edit)="onEdit()"
        ></app-order-detail-card>
        
        <div class="table-section">
          <ng-container *ngIf="selectedOrder()?.items as orderItems; else noItems">
          @if (isMobile()) {
              <app-order-detail-items-card 
              [items]="orderItems" 
              [isActionsEnabled]="isActionsEnabled"
              (delete)="onDeleteItem($event)">
            </app-order-detail-items-card>
          } @else {          
            <mat-divider></mat-divider>
            <app-order-detail-items-table 
              [items]="orderItems" 
              [isActionsEnabled]="isActionsEnabled"
              (delete)="onDeleteItem($event)">
            </app-order-detail-items-table>
          }
     </ng-container>
      <ng-template #noItems>
        <p class="no-items">Немає товарів у замовленні</p>
      </ng-template>

    </div>

  }
</div>
